@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ToDoApp.Dtos.TodoDto



<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <h1>Todo Page</h1>
    <form asp-action="Save" method="post">
        <input type="hidden" asp-for="Id" />
        <label asp-for="Name"></label>
        <input type="text" asp-for="Name" />
        <br />
        <button type="submit">Save</button>
        <button type="submit">Update</button>
    </form>
    <form>
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Active</th>
                <th>Completed</th>
                <th>Deleted</th>
            </tr>
            @foreach (var d in Model.Todos)
            {
                <tr>
                    <td>@d.Id</td>
                    <td>@d.Name</td>
                    <td>@d.CreatedOn</td>
                    <td>@d.CreatedById</td>
                    <td>@d.UpdatedById</td>
                    <td><input asp-action="Edit" asp-route-id="@d.Id" type="submit" value="Edit" class="btn btn-info" /></td>
                    <td><input asp-action="Delete" asp-route-id="@d.Id" type="submit" value="Delete" /></td>
                </tr>
            }

        </table>
    </form>

</body>
</html>
